<aside class="main-sidebar sidebar-dark-sucess elevation-4">
  <a href="#" class="brand-link">
    <span class="brand-text font-weight-light">SSAM_ALOBA</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
        <li class="nav-item">
          <a [routerLink]="['/']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Tableau de bord</p>
          </a>
        </li>
        <li>
          <a [routerLink]="['/admin/dashboard']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p class="text-white">Tableau de bord admin</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/demandes']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Demandes</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/bordereau-reception']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Bordereaux</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/bordereaux']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Gestion bordereau</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/stock']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Stock</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/users']" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-users"></i>
            <p>Utilisateurs</p>
          </a>
        </li>
        <li class="nav-item has-treeview" >
          <a class="nav-link" href="#" >
            <i class="nav-icon fas fa-cogs"></i>
            <p>Paramètres<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview" >
            <li class="nav-item">
              <a [routerLink]="['/settings/marque-moto']" class="nav-link" routerLinkActive="active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Marques de moto</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/settings/type-moto']" class="nav-link" routerLinkActive="active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Types de moto</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/settings/ministere']" class="nav-link" routerLinkActive="active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Ministères</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
